<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>alias</title>
    <meta name="viewport" content="width=device-width"> 
    <link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+Mono">
    <style>
      html, body { 
        height: 100%;
      }
      body {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
      }
      button{
        font-size: 1.5rem;
        height: 3rem;
        width: 3rem;
        margin: 0.5em;
        color: limegreen;
        background-color: black;
        border-color: green;
        cursor: pointer;
      }
      .alias-container {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      .alias {
        font-family: 'Noto Sans Mono', serif;
        font-size: 5rem;
        color: limegreen;
        text-shadow: 1px 1px 10vw rgb(50 205 50 / 80%);
        justify-content: center;
      }
      .alias::selection {
        color: black;
        background-color: limegreen;
      }
      .buttons {
        justify-content: center;
      }
      @media only screen and (max-width: 800px) {
        .alias { 
          font-size: 2.5rem;
        }
      }
    </style>
  </head>
  <body>
    <div class="alias-container">
      <h1 class="alias" id="alias">
        {{ .Alias }}
      </h1>
      <div class="buttons">
        <button id="alias-new" onclick="newAlias()" >
          &#x27F3;
        </button>
        <button id="copy-btn" data-clipboard-target="#alias" onclick="window.getSelection().removeAllRanges()">
          &#x29C9;
        </button>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    <script>
      function newAlias() {
        fetch('api')
          .then(response => response.json())
          .then(data => document.getElementById("alias").innerHTML = data.alias)
      }
      document.addEventListener('DOMContentLoaded', function(){
        new ClipboardJS('#copy-btn');
      }, false);
    </script>
  </body>
</html>

